<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb6-XFvclRgzky4h6c40l_D-79Ol-Rqhc</string>
	<key>GCM_SENDER_ID</key>
	<string>245698838678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xmed</string>
	<key>PROJECT_ID</key>
	<string>xmed-1b5bb</string>
	<key>STORAGE_BUCKET</key>
	<string>xmed-1b5bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245698838678:ios:012c298377ba3f7a0f82b7</string>
</dict>
</plist>